<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message Form</title>
</head>
<body>
    <h1>Add new message</h1>
    <form method="POST" action="/new">
        <label for="name">Your Name</label>
        <input type="text" name="messageUser" id="messageUser" required><br><br>
        <label for="message">Add a message</label>
        <input type="text" name="messageText" id="messageText" required><br><br>
        <button type="submit">Submit</button>
     </form>
</body>
</html>
